.slides img {
    height: 500px;
    object-fit: cover;
}

.thumbnail img {
    height: 100px;
    object-fit: cover;
}

.thumbnail img:not(.activeThumbnail){
    filter: opacity(0.5);
}

.slide:not(.active) {
    display: none;
}

/* /slider */

.prev {
    top: 50%;
    left: -40px;
}
.next {
    top: 50%; 
    right: -40px
}
.autoplay_buttons {
    top: 90%; 
    left: 50%
}

/* /button */

.game_info {
    bottom: 20px; 
    left: 10px; 
}