#app_header {
    background-color: #0d253c;
}

.slider {
    width: 100%
}

.slides img {
    height: 500px;
    object-fit: cover;
}


.thumbnail img {
    height: 100px;
    object-fit: cover;
}

.thumbnail img:not(.activeThumbnail){
    filter: opacity(0.5);
}



.slide:hover, 
.thumbnail img:hover{
    scale:1.1; 
    z-index:10
}

.slide:not(.active) {
    display: none;
}

/* /slider */
.prev {
    top: 50%;
    left: 0px;
}
.next {
    top: 50%; 
    right: 0px; 
    z-index: 10000;
}
.autoplay_buttons {
    top: 90%; 
    left: 50%
}

/* /button */

.game_info {
    bottom: 20px; 
    left: 10px; 
}

.sidebar {
    width: 150px; 
    background-color: #0a0916
}
 


@media screen and (min-width: 768px) {
    .slides img {
        height: 750px
    }

    .thumbnail img {
        height: 150px;
    }
    
}